<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{THE_REQUEST} ^(GET|HEAD)\ /\?
RewriteRule ^ /? [R=404,L]

# And back

RewriteCond %{REQUEST_URI} .=.
RewriteRule ^/?$ /?$1 [L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# otherwise forward it to index.php
RewriteRule . index.php
</IfModule>